@import "./reset.scss";
@import "./variables/fonts.scss";
@import "./variables/themes/dark.scss";
@import "./variables/themes/light.scss";
@import "./variables/constants";

body,
html {
  font: var(--font-m);
}

.app {
  height: 100vh;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color)
}

.content-with-sidebar-wrapper {
  height: calc(100vh - var(--header-height));
  display: flex;
}

.app-content {
  flex-grow: 1;
}
