.root {
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-invert-primary-color);
  width: var(--sidebar-collapsed-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  transition: width var(--animation-duration-s);
}

.content {
  flex-grow: 1;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.isExpanded {
  width: var(--sidebar-uncollapsed-width);
}