* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus-visible {
    outline: none;
  }
}

li {
  list-style-type: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}
