.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 20px;
  background-color: var(--bg-invert-primary-color);
}

.links {
  display: flex;
  gap: 12px;
  margin-left: auto;
}