.app_theme_dark {
  --bg-primary-color: #090949;
  --bg-invert-primary-color: #e8e8ea;
  --text-primary-color: #049604;
  --text-secondary-color: #0c9d0c;
  --button-primary-color: #4a61cb;
  --button-primary-color-hover: #314abd;
  --button-invert-primary-color: #a4abef;
}
