.app_theme_light {
  --bg-primary-color: #e8e8ea;
  --bg-invert-primary-color: #090949;

  --text-primary-color: #041c65;
  --text-secondary-color: #0449e0;

  --button-primary-color: #a4abef;
  --button-primary-color-hover: #c2c7ef;

  --button-invert-primary-color: #4a61cb;
}
