.base {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* sizes */

.size_1 {
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  border-radius: 6px;
}

.size_2 {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  border-radius: 8px;
}

.size_3 {
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border-radius: 8px;
}

.size_4 {
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  border-radius: 8px;
}

.size_5 {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 8px;
}

/* variants */

.chip {
  color: var(--icon-carret);
  background-color: var(--background-main-globe);

  &:hover {
    background-color: var(--button-secondary-neutral-light-focus);
  }
}

.delete {
  border: 1px solid var(--border-button-danger-default);
  color: var(--icon-danger);
  background-color: var(--background-main-globe);

  &:hover {
    border-color: var(--border-button-danger-hover);
  }
}

.primary {
  border: 1px solid var(--border-button-primary-default);
  color: var(--icon-accent);
  background-color: var(--background-main-globe);

  &:hover {
    border-color: var(--border-button-primary-hover);
  }
}

.island {
  border: 1px solid var(--border-other-island);
  color: var(--icon-carret);
  background-color: var(--background-main-globe);

  &:hover {
    border-color: var(--border-other-divider);
  }
}

.chip_inverted {
  color: var(--text-main-helptext);
  background-color: var(--background-chip-neutral-light-default);

  &:hover {
    background-color: var(--background-chip-neutral-light-hover);
  }
}

.transparent {
  color: transparent;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.transparent_primary {
  color: var(--icon-inactive);
  background-color: transparent;

  &:hover {
    color: var(--icon-carret);
    background-color: transparent;
  }
}

/* radius */

.radius_full {
  border-radius: 100%;
}

/* animations */

.icon_children_enter {
  opacity: 0.3;
}

.icon_children_active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
